.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

.content {
  grid-column: span 12;
  justify-content: center;
  align-items: stretch;
}

.footer {
  align-items: end;
  grid-column: span 12;
}

/* search box*/
.item-a {
  text-align: center;
  padding: 30px;
  grid-column: 0 / span 12
  /*width: 100%;*/
  margin: auto;
  padding: 1.5rem;
  box-shadow: 2px 2px 3px black, -1px -1px 1px lightgray;
}

.item-rec {
  margin-left: 10%;
}

#searchBox {
  /*width: 100%;*/
  margin: auto;
}

#searchBtn {
  display: inline-block;
  font-size: 1rem;
  padding: 0.1rem 0.3rem 0.2rem 0.3rem;
  margin: 0;
}

#inputBox {
  display: inline-block;
  font-size: 1rem;
  padding: 0.1rem 0.5rem 0.12rem 0.5rem;
  /*margin: auto auto auto 20%;*/
  /*padding:.2rem 1rem .19rem 1rem;*/
  margin: auto;
}

.item-d {
grid-column: 1 / span 12;
}

/* search again */
.item-b {
  text-align: center;
  padding: 20px;
  grid-column: 0 / span 12;
  font-size: 2rem;
}

/* learn about trigger types */
.item-c {
  text-align: center;
  font-size: 0.75rem;
  text-shadow: 0.5px 0.5px 0.5px gray;
  margin: auto;
  grid-column: 0 / span 12;
}

.item-e {
  margin: auto;
  grid-column: 0 / span 12;
  text-align: center;
}

.triggerBtn {
  background-color: white;
  margin: auto;
}

.navbar {
  grid-column: 1 / span 12
  width: 100%;
}

/*#search {
  text-align: center;
  width: 100%;
  margin: 1rem auto 3rem 5%;
}*/

/*#searchContainer {
  font-size: 2rem;
  margin: auto;
  font-family: 'Passion One', cursive;
}*/

section {
  margin: auto;
  box-sizing: border-box;
  width: 10rem;
  display: table;
  padding: 1rem 0 0;
}

.recItems {
  /*display: table-cell;*/
  display: inline-block;
  width: 100%;
  padding: .5rem .75rem;
  margin: auto;
}



#searchBox input:hover {
  box-shadow: 1px 1px 1px gray;
}

nav {
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
}

body {
  font-size: 1.2rem;
  font-family: 'Merriweather', serif;
  position: relative;
}

#footer {
  font-size: 12px;
  text-align: center;
  margin-top: 5rem;
  background-color: #eeeeee;
  text-decoration: none;
  color: black;
}

#main-content {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

h1 {
  margin: 0px auto 2rem auto;
  padding: 0;
  text-align: center;
}

h3 {
  font-style: italic;
}

a {
  margin: 0px auto 1rem 1rem;
  padding: 0;
  display: inline;
}

.about {
  width: 100%;
  text-align: justify;
}

#helpButtons {
  margin: 10px auto 2px auto;
}

#tabs {
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  margin: auto;
  letter-spacing: 0.25px;
  text-align: left;
}

#warning {
  color: red;
  text-shadow: .5px .5px 1px black;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.5px;
}

.toTop a {
  margin: auto;
  font-size: 0.75rem;
  width: 100%;
}

#brand {
  padding: 0;
  text-shadow: 1px 1px 1px black;
}

.dropdown-item {
  text-align: center;
  background-color: white;
}

.recFormItem {
  text-align: center;
  margin-bottom: 0.2rem;
  box-shadow: 1px 1px 1px gray;
  font-family: 'Oswald', sans-serif;
}

#recFormButton {
  padding: 0.5rem;
  margin-left: 35%;
  /*margin: auto auto auto 0.9rem;*/
  /*margin: 0.5rem auto 1rem 22%;*/
  box-shadow: 1px 1px 1px gray;
}

textarea {
  padding: 1.9rem;
}

#recForm {
  margin: auto;
  width: 79%;
  border: 1px solid black;
  padding: 1rem;
  box-shadow: .25rem .25rem .25rem gray;
}

li {
  list-style: none;
}

#results {
  text-align: center;
  padding: 0;
  border: 1px solid blue;
  width: 500px;
}

.showResults {
  display: none;
}

.hide {
  display: none;
}

#resultsList {
  text-align: justify;
  margin: 0.5rem auto .25rem 1rem;
  border: 2px solid green;
  width: 500px;
}

#resultsTitle{
  text-align: left;
  background-color: #dedede;
  font-family: 'Merriweather', serif;
  font-size: 1.15rem;
  padding: 0.25rem;
  padding-left: 4rem;
  box-shadow: 1px 1px 2px gray;
  border-top: 1.5px solid red;
  border-left: 1.5px solid red;
  border-right: 1.5px solid red;
  text-shadow: .5px .5px 1px white, .5px .5px 1px black;
  font-weight: bold;
}

#resultsTrigger {
  text-align: center;
  font-size: 1.1rem;
  font-family: 'Merriweather', serif;
  text-shadow: .5px .5px 1px gray;
  font-weight: bolder;
}

#triggerButtonItem {
  margin: 10px;
  background-color: white;
}



#triggerBox {
  box-shadow: 1px 1px 2px gray;
  border-top: 1px solid red;
  border-left: 1.5px solid red;
  border-right: 1.5px solid red;
  border-bottom: 1.5px solid red;
}

#about {
  text-align: left;
}

#validateEntries {
  font-family: 'Permanent Marker', cursive;

}

#valBtns {
  margin: auto;
}

.headers {
  margin: 0.5rem auto 1rem auto;
  text-shadow: 1px 1px 1px white, 1px 1px 1px black;
}

#disclaimerHeader {
  margin: 0.5rem auto 1rem 0;
  text-align: left;
  text-shadow: 1px 1px 1px white, 1px 1px 1px black;
  font-size: 1rem;
}

#disclaimer{
  margin: 1rem auto 1rem 1rem;
  color: #D60101;
  font-size: 0.75rem;
  text-align: justify;
}



.searchHeader {
  text-shadow: 1px 1px 1px white, 1px 1px 1px black;
}

#searchAgain {
  font-size: 2rem;
  text-align: center;
}

input {
  text-align: center;
  padding: 2px 5px 2px 5px;
}

#valResults {
  margin: 0 auto 1rem auto;
}

#linkID {
  text-decoration: none;
  color: black;
}

#linkID:hover {
  color: blue;
}

#login {
  width: 100%;
  margin: 1rem auto 0.5rem 30%;
  padding: 1rem;
  border: 1px solid gray;
  box-shadow: 1px 1px 1px black;
}

#loginSubmit {
  margin: 1rem auto 0 40%;
}
