nav {
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
  /*font-family: 'Acme', sans-serif;*/
  /*font-family: 'Passion One', cursive;*/
  /*font-family: 'Boogaloo', cursive;*/
}

body {
  font-size: 1.2rem;
  /*font-family: 'Oswald', sans-serif;*/
  font-family: 'Acme', sans-serif;
  /*font-family: 'Passion One', cursive;*/
  /*font-family: 'Boogaloo', cursive;*/
}

#footer {
  font-size: 12px;
  text-align: center;
  margin-top: 5rem;
  background-color: #eeeeee;
}

#main-content {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

h1 {
  margin: 0px auto 2rem auto;
  text-align: center;
}

h3 {
  font-style: italic;
  margin: 0px auto 1rem 3rem;
}

a {
  margin: 0px auto 1rem 1rem;
  padding: 0;
  display: inline;
}

#aboutTriggerTypes {
  font-size: 1rem;
}


#search {
  text-align: center;
  margin: 1rem auto 3rem auto;
}

#searchBox {
  margin: 1rem auto 1rem 20%;
  display: inline-block;
  margin: auto;
  padding: 2rem;
  box-shadow: 2px 2px 3px black, -1px -1px 1px lightgray;
}

#searchBox input:hover {
  box-shadow: 1px 1px 1px gray;
}

#checkBox {
  margin: 1rem auto 1rem 20%;
  display: inline-block;
  margin: auto;
  padding: 2rem;
  box-shadow: 2px 2px 3px black, -1px -1px 1px lightgray;
  width: 367px;
}

#checkBoxBtn {
  margin-left: 40%;
  margin-top: 15px;
}

#checkBoxItems {
  margin: 3px auto 7px 3rem;
}

.recFormItem {
  text-align: center;
  margin-bottom: 0.2rem;
  box-shadow: 1px 1px 1px gray;
  font-family: 'Oswald', sans-serif;
  /*font-family: 'Acme', sans-serif;*/
  /*font-family: 'Passion One', cursive;*/
  /*font-family: 'Boogaloo', cursive;*/
}

#recFormButton {
  padding: 0 5rem;
  margin: 0.5rem auto 1rem 22%;
  box-shadow: 1px 1px 1px gray;
}

textarea {
  padding: 1.9rem;
}

#recForm {
  margin: auto;
  border: 1px solid black;
  padding: 1rem;
  box-shadow: .25rem .25rem .25rem gray;
}

li {
  list-style: none;
}

#results {
  text-align: center;
  padding: 0;
  border: 1px solid blue;
  width: 500px;
}

/*#resultsReadout {
  font-size: 1rem;
  margin-left: 2rem;
}*/

#resultsList {
  text-align: justify;
  margin: 0.5rem auto .25rem 1rem;
  border: 2px solid green;
  width: 500px;
}

#resultsTitle{
  border: 1px dotted purple;
  background-color: #dedede;
  width: 100%;
  /*margin: 0.5rem auto 0.25 3rem;*/
  margin: auto;
}

#resultsTrigger {
  border: 1px dotted red;
}

#about {
  text-align: left;
  /*margin: auto;*/
}

#validateEntries {
  font-family: 'Permanent Marker', cursive;

}

#valBtns {
  margin: auto;
}
