nav {
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
  /*font-family: 'Acme', sans-serif;*/
  /*font-family: 'Passion One', cursive;*/
  /*font-family: 'Boogaloo', cursive;*/
}

body {
  font-size: 1.2rem;
  /*font-family: 'Oswald', sans-serif;*/
  font-family: 'Acme', sans-serif;
  /*font-family: 'Passion One', cursive;*/
  /*font-family: 'Boogaloo', cursive;*/
}

#footer {
  font-size: 12px;
  text-align: center;
  margin-top: 5rem;
  background-color: #eeeeee;
}

#main-content {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

h1 {
  margin: 0px auto 1rem auto;
}

#search {
  text-align: center;
  margin: 1rem auto 3rem auto;
}

#searchBox {
  margin: 1rem auto 1rem 20%;
  display: inline-block;
  margin: auto;
  padding: 2rem;
  box-shadow: 2px 2px 3px black, -1px -1px 1px lightgray;
}

#searchBox input:hover {
  box-shadow: 1px 1px 1px gray;
}

.recFormItem {
  text-align: center;
  margin-bottom: 0.2rem;
  box-shadow: 1px 1px 1px gray;
  font-family: 'Oswald', sans-serif;
  /*font-family: 'Acme', sans-serif;*/
  /*font-family: 'Passion One', cursive;*/
  /*font-family: 'Boogaloo', cursive;*/
}

#recFormButton {
  padding: 0 5rem;
  margin: 0.5rem auto 1rem 22%;
  box-shadow: 1px 1px 1px gray;
}

textarea {
  padding: 1.9rem;
}

#recForm {
  margin: auto;
  border: 1px solid black;
  padding: 1rem;
  box-shadow: .25rem .25rem .25rem gray;
}

li {
  list-style: none;
}

#results {
  padding: 1rem;
}

#about {
  text-align: left;
  /*margin: auto;*/
}

#validateEntries {
  font-family: 'Permanent Marker', cursive;

}

#valBtns {
  margin: auto;
}
