<!DOCTYPE html>
<html>
<head>
  <title> TriggerAware </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <html lang="en">
<!-- vue -->
  <script src="https://unpkg.com/vue"></script>
<!-- jQ -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<!-- main CSS -->
  <link rel="stylesheet" href="/css/main.css"/>
<!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Acme|Boogaloo|Oswald|Passion+One" rel="stylesheet">
<!-- favicon -->
  <link rel="icon" type="image/png" href="/img/favicomatic/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/img/favicomatic/favicon-16x16.png" sizes="16x16" />
</head>

<body>
  <div id="app">

    <main-nav></main-nav>

  <div class="wrapper">
    <div class="content">

    <h1 class="headers"> Recommend a Triggering Scene </h1>

    </div>
  </div>
<!-- main content -->
    <div class="item-rec">

    <div class="container">
      <div class="row col-xs-12 col-xl-12">

        <form id="recForm" v-on:submit.prevent="recommend">
          <!-- <div class="card"> -->
          <section>
            <div class="recItems">
              <input class="recFormItem" type="text" placeholder="enter your email *" size="24%" v-model="recForm.userEmail" name="email"/>
              <label for="email" title="email" class="hide">email</label>
            </div><br/>
            <div class="recItems">
              <input class="recFormItem" type="text" placeholder="title *" size="24%"  v-model="recForm.title" name="title"/>
              <label for="title" title="title" class="hide">title</label>
            </div><br/>
            <div class="recItems">
              <input class="recFormItem" type="text" placeholder="trigger type *" size="24%"  v-model="recForm.triggerType" name="trigger-type"/>
              <label for="trigger-type" title="trigger type" class="hide">trigger type</label>
            </div><br/>
            <div class="recItems">
              <input class="recFormItem" type="text" placeholder="episode number" size="24%"  v-model="recForm.episodeNumber" name="episode-number"/>
              <label for="episode-number" title="episode number" class="hide">episode number</label>
            </div><br/>
            <div class="recItems">
              <input class="recFormItem" type="text" placeholder="episode name" size="24%"  v-model="recForm.episodeName" name="episode-name"/>
              <label for="episode-name" title="episode name" class="hide">episode name</label>
            </div><br/>
            <div class="recItems">
              <input class="recFormItem" type="text" placeholder="description *" size="24%" v-model="recForm.description" name="description"/>
              <label for="description" title="description" class="hide">description</label>
            </div><br/>
            <div class="recItems">
              <input id="recFormButton" type="submit" class="btn btn-outline-info" name="submit" value="submit">
              <label for="submit" title="submit" class="hide">submit</label>
            </div><br/>
          </section>
        </form>

      </div>
    </div>
    </div>


<!-- footer div -->
    <div class="footer">
      <div id="footer">
        <main-footer url="http://btfranzen.com"></main-footer>
      </div>
    </div>

      </div>
    </div>
  </div>  <!-- z app -->

<!-- bootstrap -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<!-- main JS -->
  <script src="/js/main.js"></script>
</body>
</html>
