<!DOCTYPE html>
<html>
<head>
  <title> TriggerAware </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <html lang="en">
<!-- vue -->
  <script src="https://unpkg.com/vue"></script>
<!-- jQ -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<!-- main CSS -->
  <link rel="stylesheet" href="/css/main.css"/>
<!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Acme|Boogaloo|Oswald|Passion+One" rel="stylesheet">
<!-- favicon -->
  <link rel="icon" type="image/png" href="/img/favicomatic/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/img/favicomatic/favicon-16x16.png" sizes="16x16" />
</head>

<body>
  <div id="app">

    <main-nav></main-nav>

<!-- main content -->
    <div class="container" id="validateEntries">
      <div class="row col-xs-12 col-xl-12">
        <h1> validate recommended entries </h1>
        <form>

        <div id="valResults" v-on:click="getRecEntries">
          <button type="button" class="btn btn-outline-primary"> get recommended scenes </button>
        </div>

        <div >

          <div id="valBtns" v-for="item in recEntries">

            <label for="title"> Title: </label>
            <input name="title" type="text" v-model="item.title" size="50%"/><br/>

            <label for="triggerType"> Trigger Type: </label>
            <input name="triggerType" type="text" v-model="item.triggerType" size="50%"/><br/>

            <label for="episodeNumber"> Episode Number: </label>
            <input name="episodeNumber" type="text" v-model="item.episodeNumber" size="50%"/><br/>

            <label for="episodeName"> Episode Name: </label>
            <input name="episodeName" type="text" v-model="item.episodeName" size="50%"/><br/>

            <label for="description"> Description: </label>
            <input name="description" type="text" v-model="item.description" size="50%"/><br/>


            <button type="button" class="btn btn-outline-success" v-on:click="validateEntries"> add this record to the DB </button>
            <button type="button" class="btn btn-outline-danger" v-on:click="removeRec(item)"> delete this dumpster fire </button>

            <br/><br/><hr/><br/><br/>
          </div>

        </div>

        </form>

        <hr>
        <li><a href="/logout">log out</a></li>
        <hr>

      </div>
    </div>



<!-- footer div -->
      <div id="footer">
        <main-footer url="http://btfranzen.com"></main-footer>
      </div>

  </div>  <!-- z app -->

<!-- bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<!-- main JS -->
  <script src="/js/main.js"></script>
</body>
</html>
